<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET: para Retrofit (PHP) + Glide (fotos). Sin esto la API falla en silencio. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ACCESS_NETWORK_STATE: para saber si hay wifi/datos y decidir: ¿pido a PHP o uso Room offline? -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/penguin_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/penguin_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITANESTour">
        <!-- MainActivity = lista. Detalle/Favoritos se abren por Intent explícito. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DetalleActivity" android:exported="false" />
        <activity android:name=".ui.FavoritosActivity" android:exported="false" />
    </application>

</manifest>